@import url("../../public/jetbrains/style.css");

:root {
  /* Colors */
  --background-rgb: 0, 0, 0;
  --background: rgb(var(--background-rgb));
  --background-offset: rgb(40, 40, 40);
  --foreground-rgb: 255, 255, 255;
  --foreground: rgb(var(--foreground-rgb));

  --blue: #0033eb;
  --success: #bfff5e;
  --fail: #d1656c;

  /* Sizing */
  --padding-button: 6px 12px;
  --col-gap: 4rem;
  --row-gap: 2rem;
  --taskbar-height: 30px;
  --titlebar-height: 30px;

  /* Fonts */
  --font-family: Jetbrains, Courier, monospaced;
  --font-size: 12px;
  --font-size-large: 18px;

  /* Deco */
  --muted-opacity: 0.7;
  --backdrop: blur(10px);
  --outer-border: 1px solid rgba(var(--foreground-rgb), var(--muted-opacity));
}

.rectangles {
  background-color: var(--background);
  /* background-image: repeating-linear-gradient(
      45deg,
      var(--background-offset) 25%,
      transparent 25%,
      transparent 75%,
      var(--background-offset) 75%,
      var(--background-offset)
    ),
    repeating-linear-gradient(
      45deg,
      var(--background-offset) 25%,
      var(--background) 25%,
      var(--background) 75%,
      var(--background-offset) 75%,
      var(--background-offset)
    ); */
  /* background-position: 5px 5px, 15px 15px; */
  /* background-size: 20px 20px; */
}

* {
  box-sizing: border-box;
  border-color: var(--foreground);
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

@keyframes backgroundFlicker {
  0% {
    background: rgb(0, 0, 0);
  }
  12% {
    background: rgb(20, 20, 20);
  }
  30% {
    background: rgb(25, 25, 25);
  }
  45% {
    background: rgb(12, 12, 12);
  }
  67% {
    background: rgb(25, 25, 25);
  }
  78% {
    background: rgb(6, 6, 6);
  }
  89% {
    background: rgb(19, 19, 19);
  }
  100% {
    background: rgb(0, 0, 0);
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, var(--muted-opacity));
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.link {
  cursor: pointer;
  opacity: var(--muted-opacity);
}

.link.active,
.link:hover {
  opacity: 1;
}
